@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  @media (min-width: 800px) {
    .media56 {
      position: absolute;
      right: -15%;
      overflow: hidden;
    }
  }
  @media (max-width: 799px) {
    .media56 {
      position: absolute;
      display: none;
    }
  }
  
  .ll {
    text-align: left;
    margin: 5% 20%;
  }
  .q {
    color: #053f9b;
    font-weight: 600;
  }
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @media (min-width: 800px) {
    .bn {
      text-align: center;
    }
    .kl {
      text-align: center;
    }
    .we {
      position: absolute;
      left: -10%;
    }
    .wwe {
      position: absolute;
      right: -15%;
      overflow: hidden;
    }
    .fm {
      width: 30%;
      height: 30%;
      margin: 5% 10%;
    }
  }
  @media (max-width: 799px) {
    .bn {
      text-align: left;
    }
    .kl {
      text-align: left;
    }
    .we {
      position: absolute;
      display: none;
    }
    .wwe {
      position: absolute;
      display: none;
    }
    .fm {
      width: 60%;
      height: 40%;
      margin: 5% 22%;
    }
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  /* Add the following styles to your existing CSS */
  
  .test1 {
    font-weight: 700;
    color: #013a98;
    margin-left: -47%;
    position: absolute;
    bottom: 10%; /* Adjust bottom property */
    /* left:-20%; */
  }
  
  .test2 {
    /* margin-bottom: 5%; */
    position: absolute;
    bottom: 10%;
    right: 8%;
    /* left:30%; */
    /* Adjust bottom property */
    font-weight: 700;
    color: #013a98;
  }
  
  .test3 {
    position: absolute;
    bottom: 2%;
    right: 3%;
    font-weight: 700;
    color: #013a98;
  }
  
  .test4 {
    position: absolute;
    bottom: 2%;
  
    font-weight: 700;
    color: #013a98;
  }
  
  .test90 {
    position: absolute;
    left: 10%;
    bottom: 10%;
    font-weight: 700;
    color: #013a98;
    /* Adjust bottom property */
  }
  
  .test11 {
    margin-top: 2%;
    margin-right: 75%;
    color: #013a98;
    font-weight: 500;
  }
  .test12 {
    color: #013a98;
    margin-left: 15%;
    margin-right: 15%;
    font-weight: 700;
  }
  
  .test13 {
    margin-left: 40%;
    margin-right: 15%;
    font-weight: 700;
    color: #013a98;
    background-color: #f1f2f4;
    width: 20%;
    border-radius: 25px;
  }
  
