.App {
  text-align: center;
  /* margin:0 -10%; */
  /* margin-left:-.3%; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media (min-width: 800px) {
 
  .media56{
    position:absolute;
    right:-4%;
    overflow:hidden;
  }
}
@media (max-width: 799px) {
  
  .media56{
    position:absolute;
    display:none;

  }
}

.ll{
  text-align:left;
  margin:5% 20%;
}
.q{
  color:#053F9B;
  font-weight:600;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media (min-width: 800px) {
  .bn {
    text-align:center;
  }
  .kl{
    text-align:center;
  }
  .we{
    position:absolute;
    left:-10%;
  }
  .wwe{
    position:absolute;
    right:-15%;
    overflow:hidden;
  }
  .fm{
    width:30%;
    height:30%;
    margin:5% 10%;
  }
}
@media (max-width: 799px) {
  .bn {
    text-align:left;
   
  }
  .kl{
    text-align:left;
    
  }
  .we{
    position:absolute;
    display:none;
  }
  .wwe{
    position:absolute;
    display:none;

  }
  .fm{
    width:60%;
    height:40%;
    margin:5% 22%;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.media1{
  margin: 5% auto;
  font-family: Poppins;
font-size: 50px;
font-style: normal;
font-weight: 800;
line-height: normal;
  /* text-weight:700; */
  /* color: var(--Linear, linear-gradient(90deg, #013A98 0%, #449DD1 100%)); */
  background: linear-gradient(90deg, #013A98 0%, #449DD1 100%);
  
  /* Apply background-clip to text */
  background-clip: text;
  -webkit-background-clip: text;
  
  /* Set text color to transparent to make the text visible through the gradient */
  -webkit-text-fill-color: transparent;
  color: transparent;

}
.media2{
  margin-top:-4%;
  color:#9C9C9C;
  font-family: Poppins;
  font-weight: 400;
}
.media3{
  text-align:left;
  margin-left:3%;
  margin-top:5%;
  color:#183B56;
  font-weight: 600;
  font-family: Poppins;
}
@media (max-width: 499px) {
.jj{
  display:none;
}
.hhg{
  visibility: hidden;
  position: absolute;
  /* visibility:hidden; */
}
}
.media4{
  text-align:left;
  margin-left:3%;
  margin-top:1%;
  color:#5A7184;
  font-family: Poppins;
}
.media5{
  margin-top:2%;
  /* margin-right:-9%; */
 height:100%;
  width:98%;
  font-family: Poppins;
}
@media (min-width: 500px) {
.hhgg{
  display:none;
  visibility:hidden;
}
}
.media7{
  text-align:left;
  /* margin-left:3%; */
  margin-top:1%;
  color: #183B56;
  font-weight: 700;
  /* font-family: Poppins; */
}
.media8{
  text-align:left;
  /* margin-left:3%; */
  margin-top:1%;
  color: #5A7184;
  font-weight: 400;
}
.media9{
  text-align:left;
  /* margin-left:3%; */
  margin-top:2%;
  padding-left:4%;
  color: #5A7184;
  font-weight: 700;
}
.media10{
  text-align:left;
  /* margin-left:3%; */
  margin-top:18%;
  color: #5A7184;
  font-weight: 700;
}
.media11{
  width:25%;
  height:25%;
  margin-left:70%;
  margin-top:-16%;
}
.media77{
  background: var(--Linear, linear-gradient(90deg, #013A98 0%, #449DD1 100%));
  text:white;
  margin-right:3%;
}
.media12{
  margin-left:70%;
  margin-top:2%;
}
.media15{
  margin:2%;
  width:75%;
  height:50%;
}
.media13{
  background-color:#013A98;
}
.media17{
  text-align:left;
  
color: #5A7184;

font-family: Poppins;

}

@media (max-width: 720px) {
  .media6{
    width:120%;
    height:70%;
    margin-left:10%;
  }
}
@media (min-width: 720px) {
  .media6{
    width:70%;
    height:80%;
    /* margin-left:20%; */
  }
}
